[submodule "pack/shun-harutaro/start/emmet-vim"]
	path = pack/shun-harutaro/start/emmet-vim
	url = https://github.com/mattn/emmet-vim.git
[submodule "pack/shun-harutaro/start/autoclose"]
	path = pack/shun-harutaro/start/autoclose
	url = https://github.com/Townk/vim-autoclose.git
